/*styling for the food site*/
 
/*imports like for texts/fonts etc. */


 
/* generic tags */
#background-color{
    color:rgb(204, 138, 52);
}



body{
    text-align:left;
}

h1{
    margin-top:40px;
    color:white;
    text-shadow: 1px 1px 2px black, 0 0 45px rgb(0, 93, 100), 0 0 15px darkgreen;
}
 
p, ol > li, td, h2, details, summary, .square > li {
    text-align: left;
    line-height: 2;
}



details{width:50% ;}


table,td{border:1px solid black;
    padding: 10px;
    line-height: 2;
    
}
#reuse, td{
    border-collapse:collapse;
    border:  1px solid black;
   
}

caption{font-weight: bolder;
font-style: italic;
text-align: left;
}

th{
    background-color:darkgreen;
    color:white;
    padding:15px;
}

#typecol{
    min-width:110px;
    vertical-align:top;
}





 
/* classes */
.logo{
    width:180px;
    height:140px;
    float:left;
}
 
.mainpik{
    border-radius:15px;
    box-shadow: 5px 10px black
    
    
}

.video{
    width: 650px; 
    height: 400px;
    border-radius: 15px;
}


.footer{
    color:black;
    text-align: center;
}

.pikbox{
    width: 32%;
    

   

}



/* ids */
#aside li{
    text-align: center;
}
#faq{
    float:left;
    width: 100%;
}
#mypiks{
    float:right;
}



#top_button{float:right;
    color:white;
    background-color:green;
    padding: 10px;border-radius: 5;
}

#top_button> a:visited, #top_button> a:link{
    text-decoration: none;color:white;
}
