<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN"
"http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<title>Conforming XHTML 1.1 Template</title>
	</head>
	<body>
		<table>

			
		</table>
		<h1 style="text-align: center;">
			This is my first XHTML 1.1 conformed web page
		</h1>
		<p style="text-align: center;"> 
			<img src="http://www.w3.org/Icons/valid-xhtml11" 
			alt="Valid XHTML 1.0 Strict" height="31" width="88"/>
		</p>
	</body>
</html>
